<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <title>WOWS!</title>
  </head>
  <body>
      <div class="container">
        <h1>{{.clan.Data.Num500201233.Name}}</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">Player ID</th>
                  <th scope="col">Username</th>
                </tr>
            </thead>
            <tbody>
                {{range .clan.Data.Num500201233.MembersIds}}
                <tr>
                    <th scope="row">{{.}}</th>
                    <td>{{.}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>      
  </body>
</html>
